# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland project files
.idea/

# MacOS folder file
.DS_Store

# Profiling files
*.prof
.*.swp

# Binaries
cmd/grpc/client/client
cmd/grpc/server/server
cmd/aws/client/client
cmd/aws/server/server
data/parser

# log files
*.log

# Data folders
data/sks-original
data/sks

# experiment results
*.json

__pycache__/

# ignore plot results
*.png
*.eps

# aws lambda stuff
credentials.csv
main.zip

# encoded db
data/database.bin
db
data/mmap.d/

# add final_results
!simulations/final_results/
