# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland project files
.idea/

# MacOS folder file
.DS_Store

# Profiling files
*.prof
.*.swp

# Binaries
cmd/client/client
cmd/server/server
data/parser

# log files
*.log

# Data folders
data/sks-original
data/sks
