<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> 

    <title>VPIR demo</title>
  </head>
  <body>
    <div class="header">
    </div>

    <div class="main">
        <h1>VPIR</h1>
        <p class="subtitle">
            <span>verifiable</span>
            Private-information-retreival
        </p>

        <form method="POST" action="javascript:void(0);" onSubmit="retreive()">
            <input placeholder="Enter email..." id="email-input" type="text" name="email" /><button>Retreive</button>
        </form>
        <div id="elapsed"></div>
        <div id="result"></div>
    </div>

    <div id="footer">
    </div>

    <style>
    </style>
    
    <script>
        function retreive() {
            const email = document.getElementById("email-input").value
            const result = document.getElementById("result")
            const elapsed = document.getElementById("elapsed")

            result.innerText = "retreiving..."

            var startTime, endTime;
            startTime = new Date();

            fetch("/retreive", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `email=${email}`,
            }).then(data => {
                if (!data.ok) {
                    return Promise.all([Promise.resolve(`error: ${data.status} ${data.statusText}`), data.text()]);
                }

                return data.text();
            })
            .then(res => {
                result.innerText = res;

                endTime = new Date();
                var timeDiff = endTime - startTime; // in ms
                timeDiff /= 1000;
                elapsed.innerText = `query executed in ${timeDiff}s`
            })
            .catch(error => {
                result.innerText = "error: " + error;
            });
        }
    </script>

  </body>
</html>