<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>VPIR demo</title>
  </head>
  <body>
    <div class="header">
    </div>

    <div class="main">
        <p>Hi</p>
        <form method="POST" action="javascript:void(0);" onSubmit="retreive()">
            <input id="email-input" type="text" name="email" />
            <button>Retreive</button>
        </form>
        <div id="result">

        </div>
    </div>

    <div id="footer">
    </div>

    <style>
    </style>
    
    <script>
        function retreive() {
            const email = document.getElementById("email-input").value
            const result = document.getElementById("result")

            result.innerText = "retreiving..."

            fetch("/retreive", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `email=${email}`,
            }).then(data => {
                if (!data.ok) {
                    return Promise.all([Promise.resolve(`error: ${data.status} ${data.statusText}`), data.text()]);
                }

                return data.text();
            })
            .then(res => {
                result.innerText = res;
            })
            .catch(error => {
                result.innerText = "error: " + error;
            });
        }
    </script>

  </body>
</html>